@keyframes verticalBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

.animate-vertical-bounce {
  animation: verticalBounce 1s infinite;
}

/* animate pay */

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-51%);
  }
}

.animate-scroll-left {
  animation: scroll-left 12s linear infinite;
}

/* water splash */
@keyframes waterDrop {
  0%,
  100% {
    border-radius: 80% 80% 0 0 / 40% 40% 0 0;
  }
  50% {
    border-radius: 60% 60% 0 0 / 20% 20% 0 0;
  }
}

.animate-waterDrop {
  animation: waterDrop 0.1s ease-in-out infinite;
}
